*.*
__pycache__

!*.py
!*.conf

!.gitignore
!Dockerfile.dev
!Dockerfile.prod
!README.md
!docker-compose.dev.yml
!docker-compose.prod.yml
!entrypoint.dev.sh
!entrypoint.prod.sh
!requirements.txt

local_settings.py